*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.root-layout-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  min-height: 850px;
}

.login__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 671px;
}

.login__container-image{
  width: 100%;
  height: 510px;
  object-fit: cover;
}

.login__container-heading{
  font-weight: 500px;
  font-size: 48px;
  line-height: 71.28px;
}

.login__container-text{
  font-weight: 400px;
  font-size: 28px;
  line-height: 41.58px;
}

.form-control{
  width: 343px;
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control__heading{
  font-weight: 500px;
  font-size: 32px;
  line-height: 47.52px;
}

#login , #password, #email, #secondPpassword{
  width: 100%;
  height: 52px;
  outline: none;
  border: none;
  padding: 13px 16px 13px 16px;
  background-color: #F8F8F8;
  font-size: 16px;
  margin-bottom: 10px;
}

.password{
  position: relative;
  width: 100%;
 margin-bottom: 5px;
}

.MUicon{
  position: absolute;
  right: 20px;
  top: 30px;
}

.form-control__Btn{
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius:12px;
  padding: 13px 16px 13px 16px;
  background: #292929;
  color: #F8F8F8;
  cursor: pointer;
  margin-bottom: 10px;
  
}


.form-control__Btn-sign-in{
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius:12px;
  padding: 13px 16px 13px 16px;
  background: #D7D7D7;
  color: #767676;
  cursor: pointer;
  margin-bottom: 10px;
}

.form-control__noAccount{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius:12px;
  padding: 13px 16px 13px 16px;
  color: #292929;
  background: #F8F8F8;
  cursor: pointer;
  text-decoration: none;
}

.welcom-back{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 667.26px;
  gap: 10px ;
}

.welcom-back__heading{
  font-size: 36px;
  font-weight: 500px;
  line-height: 53.46px;
  color: #212121;
}

.welcom-back__text{
  font-size: 20px;
  font-weight: 400px;
  line-height: 29.7px;
 color: #212121;
 margin-bottom: 10px;
}

.welcom-back__image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 446.26px;
  
}

.welcom-back__image{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.welcom-back__exit{
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  color: #292929;
  text-decoration: none;
}

  .text-error{
    color: red;
    align-self: flex-start;
    margin: 5px 0 5px;
  }
  .error-field{
    border: 1px solid red;
    color: red;
  }
  .passwordRequirements li{
    list-style: none;
    line-height: 25px;
  }

.passwordRequirements__ul{
  display: flex;
  flex-direction: column;
  width: 343px;
}

.signUp-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 850px;
}

#backBtn-label__link{
  text-decoration: none;
  padding: 4px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 23.76px;
  color:#000000;  
}

.backBtn-label{
margin: 30px auto;
width: 150px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.backIcon{
  position: absolute;
  left: 0;
}

.email-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px  ;
}

.email{
  justify-content: center;
  align-items: center;
  width: 421px;
  height: 404px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.email__Heading{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500px;
  font-size: 24px;
  line-height: 35.64px;
  color:#212121;
  
}
.email__Text{
 text-align: center;
 width: 80%;
 font-weight: 500px;
  font-size: 20px;
  line-height: 29.7px;
  color: #767676;

}

.email__Btn{
  width: 343px;
  height: 50px;
  border-radius: 12px;
  padding: 13px 16px 13px 16px;
  background:#FFFFFF ;
  color: #292929;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.emailSent{
  position: relative;  
  width: 100%;
  min-height: 850px;
}

.modal-window{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 300px;
  border-radius: 32px;
  gap: 24px;
  background: #FFFFFF;
  left: 40%;
  top: 260px;
  position: absolute;

}

.modal-window__Heading{
  font-weight: 500px;
  font-size: 20px;
  line-height: 29.7px;
  text-align: center;
  color:#212121 ;
}
.modal-window__Text{
  font-weight: 500px;
  font-size: 16px;
  line-height: 23.76px;
  text-align: center;
  color: #767676;
}

.modal-window__Btn{
  width: 311px;
  height: 50px;
  border-radius: 12px;
  padding: 13px 16px 13px 16px;
  background:#292929;
  color: #F8F8F8;
  cursor: pointer;
}

.modal-window-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background:#00000080 ;
}

.password-modal{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 54px;
  padding:  16px 15px 16px;
  background: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #EC0000 ;
  right: 300px;
  top: 50px;
}

.password-modal__text{
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  color:#EC0000;
}

